.secao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-left: 10rem;
}

.acoes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 25rem;
    align-items: center;
}

.titulos{
    margin: 0
}

